.book-list {
    &__results {
        font-size: 3vh;
        margin-bottom: 5vh;
    }
    &__container {
        margin: 0 auto;
        width: 90%;
        display: flex;
        gap: 3%;
        justify-content: center;
        flex-wrap: wrap;
    }
}