.book-item {
    box-sizing: border-box;
    background-color: #e3e1e1;
    width: 250px;
    height: 380px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5vh 3vh;
    margin-bottom: 3vh;
    cursor: pointer;
    

    &__image{
        height: 30vh;
        margin: 0 auto 3vh;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }

    &__categories{
        color: #7f7e7e;
        text-decoration: underline;
        margin: 1vh 0;
        font-size: .6em;
    }
    &__title {
        font-weight: bold;
        margin: 1vh 0;
        font-size: .8em;
    }
    &__author{
        color: #7f7e7e;
        text-align: start;
        font-size: .6em;
    }

    &__date {
        color: #7f7e7e;
        margin: 1vh 0;
        font-size: .6em;
    }

}