.filters {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 10vh;

    &__categories{
        color: #6c6b6b;
        display: flex;
        align-items: center;
    }

    &__sorting {
        color: #6c6b6b;
        display: flex;
        align-items: center;
    }

    &__dropdown{
        border-style: none;
        cursor: pointer;
        height: 30px;
        width: 10vw;
        margin-left: 2vw;
        padding: 0 10px;
    }
}