.header{
    // max-height: 30vh;
    margin: 0 auto 5vh;
    padding: 2%;
    background-color: #868585;
    display: flex;
    flex-direction: column;

    &__title{
        color: #fff;
        font-size: 3em;
        margin-bottom: 3vh;
    }
}