.search-bar{
    
    &__input {
        width: 50%;
        height: 4vh;
        padding: 2vh;
        border-style: 1px solid #6c6b6b;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        margin-bottom: 3vh;
        cursor: pointer;
    }

    &__btn {
        border-style: none;
        margin-left: 1vw;
        height: 7vh;
        width: 7vw;
        cursor: pointer;
    }
}

@media (max-width: 800px) {
    .search-bar__btn{
        display: none;
    }
}
